<section id="chat-room">
    <header id="chat-room-header" class="clearfix">
        <h1 class="app-header">Chat app</h1>
        
        <article class="logout-box">
            <p class="logout-box-text">signed as niki</p>
            <button type="button" class="logout-box-btn">logout</button>
        </article>
    </header>
    <section id="chat-room-messages">
        <ul class="messages-list">
            <li ng-repeat="message in messages track by $index">
                <article class="message">
                    <header class="message-header">
                        <p class="message-login">nickname1:</p>
                    </header>
                    
                    <section class="message-body">
                        <p class="message-text">{{message}}</p>
                    </section>
                </article>
            </li>
        </ul>
    </section>
    <section id="chat-room-message-outgoing">
        <article class="message-outgoing clearfix">
            <input type="text" class="message-outgoing-input" ng-model="messageOutgoing">
            <button type="button" class="message-outgoing-btn" ng-click="sendMessage()">send</button>
        </article>
    </section>
</section>